<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089824013318-3m9at564c4dl6lujat3ple66u9k5ul68.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089824013318-3m9at564c4dl6lujat3ple66u9k5ul68</string>
	<key>API_KEY</key>
	<string>AIzaSyDKvObpB3tlvMjlGSvKu75hjic2dWncgT0</string>
	<key>GCM_SENDER_ID</key>
	<string>1089824013318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rbespalov.Navigation</string>
	<key>PROJECT_ID</key>
	<string>navigation-30c01</string>
	<key>STORAGE_BUCKET</key>
	<string>navigation-30c01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089824013318:ios:dd3ad753849c56486d1787</string>
</dict>
</plist>